@import "tailwindcss";


.input {
  @apply w-full px-3 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-black/10 focus:outline-none;
}

.label {
  @apply block font-medium text-gray-700 mb-1;
}

.btn-primary {
  @apply bg-black text-white rounded-lg py-2 font-medium hover:bg-black/90 transition;
}
